<div class="side">
    <span onmouseover="display()" onmouseout="ndisplay()">Sun</span>
    <div id="h" class="abc">The Sun is the star at the center of the Solar System. It is a nearly perfect sphere of hot plasma, with internal convective motion that generates a magnetic field via a dynamo process. It is by far the most important source of energy for life on Earth.</div>
    <br><span onmouseover="display1()" onmouseout="ndisplay1()">Mercury</span>
    <div id="h1"class="abc">Mercury is the smallest and innermost planet in the Solar System. Its orbit around the Sun takes 87.97 days, the shortest of all the planets in the Solar System. It is named after the Roman deity Mercury, the messenger of the gods.</div>
    <br><span>Venus</span>
    <div id="h2"class="abc">Venus is the second planet from the Sun. It is named after the Roman goddess of love and beauty. As the second-brightest natural object in the night sky after the Moon, Venus can cast shadows and can be, on rare occasion, visible to the naked eye in broad daylight.  </div>
    <br><span>Earth</span>
    <div id="h3" class="abc">Earth is the third planet from the Sun and the only astronomical object known to harbor life. According to radiometric dating estimation and other evidence.</div>
    <br><span>Mars</span>
    <div id="h4" class="abc">Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being only larger than Mercury. In English, Mars carries the name of the Roman god of war and is often referred to as the "Red Planet".</div>
    <br><span>Jupiter</span>
    <div id="h5" class="abc">Jupiter is the fifth planet from the Sun and the largest in the Solar System. It is a gas giant with a mass one-thousandth that of the Sun, but two-and-a-half times that of all the other planets in the Solar System combined.</div>
    <br><span>Saturn</span>
    <div id="h6"class="abc">Saturn is the sixth planet from the Sun and the second-largest in the Solar System, after Jupiter. It is a gas giant with an average radius of about nine times that of Earth. It only has one-eighth the average density of Earth; however, with its larger volume, Saturn is over 95 times more massive.</div>
    <br><span>Uranus</span>
    <div id="h7"class="abc">Uranus is the seventh planet from the Sun. The name "Uranus" is a reference to the Greek god of the sky, Uranus. According to Greek mythology, Uranus was the grandfather of Zeus (Jupiter) and father of Cronus (Saturn).</div>
    <br><span>Neptune</span>
    <div id="h8"class="abc">Neptune is the eighth and farthest-known planet from the Sun in the Solar System. In the Solar System, it is the fourth-largest planet by diameter, the third-most-massive planet, and the densest giant planet. </div>
    <br><span>Pluto</span>
    <div id="h9"class="abc">Pluto is a dwarf planet in the Solar System. Its formal name is 134340 Pluto. The dwarf planet is the ninth largest body that moves around the Sun. </div>

</div>
