<div id="body">
    <div class="spinner-box">
    <div class="solar-system">
    <div class="pluto-orbit orbit">
    <div class="pluto planet"></div>
    <div class="neptune-orbit orbit">
    <div class="neptune planet"></div>
    <div class="uranus-orbit orbit">
    <div class="uranus planet"></div>
    <div class="saturn-orbit orbit">
    <div class="saturn-ring orbit">
    <div class="saturn planet"></div>
    </div>
    <div class="jupiter-orbit orbit">
    <div class="jupiter planet"></div>
    <div class="mars-orbit orbit">
    <div class="mars planet"></div>
    <div class="earth-orbit orbit">
    <div class="orbit moon-orbit">
    <div class="moon planet"></div></div>
    <div class="earth planet"></div>
    <div class="venus-orbit orbit">
    <div class="venus planet"></div>
    <div class="mercury-orbit orbit">
    <div class="mercury planet"></div>
    <div class="sun"></div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>	
</div>
</div>